@model BTL_TTCN.Models.Sach

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sách</h2>

<div>
    <h4>Sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhMinhHoa)
        </dt>

        <dd>
            @{
                var path = "~/Content/Sach/" + Model.AnhMinhHoa;
                <img src="@Url.Content(path)" width="150px" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
