@model IEnumerable<BTL_TTCN.Models.Sach>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<center>
    <img src="~/Content/banner.jpg" alt="Category Image" style="max-width: 100%; height: auto;" />
    @{Html.RenderAction("CategoryMenu", "Saches");}
</center>

<h2>Danh sách sản phẩm</h2>

@if (Session["email"] != null)
{
    <p>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Saches")'">Thêm mới</button>
    </p>
}



@using (Html.BeginForm())
{
    <p>
        Nhập tên sách:
        @Html.TextBox("SearchString")
        <input type="submit" value="Tìm" />
    </p>
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}


<style>
    .scrollable-table {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #f2f2f2;
        }
</style>

<div class="scrollable-table">
    <table class="table">
        <tr>
            @foreach (var item in Model)
            {
                <td class="centered">
                    <p class="clickable-cell" data-masach="@item.MaSach">
                        @{
                            var path = "~/Uploads/images/" + item.AnhMinhHoa;
                        }
                        <img src="@Url.Content(path)" width="150px" />
                    </p>
                    <p>
                        Đánh giá: @Html.DisplayFor(modelItem => item.DanhGia)
                    </p>
                    <p>
                        Thể Loại: @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                    </p>
                    <p>
                        Tên Sách: @Html.DisplayFor(modelItem => item.TenSach)
                    </p>
                    <p>
                        Giá: @Html.DisplayFor(modelItem => item.GiaBan)
                    </p>
                    <p>
                        Còn hàng: @Html.DisplayFor(modelItem => item.SoLuong)
                    </p>
                    <p>
                        <input type="submit" value="Mua" />
                    </p>
                </td>
            }
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        $(".clickable-cell").click(function () {
            var maSach = $(this).data("masach");
            window.location.href = "/Saches/Details?id=" + maSach;
        });
    });
</script>