@model IEnumerable<BTL_TTCN.Models.Sach>

@{
    ViewBag.Title = "Index";
}

<center>
    @Html.ActionLink("Xem danh sách sách", "Index", "Saches")<label>&nbsp;|&nbsp;</label>
    @{Html.RenderAction("CategoryMenu", "Saches");}
</center>

<h2>Danh sách sản phẩm</h2>

@if (Session["email"] != null)
{
    <p>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Saches")'">Thêm mới</button>
    </p>
}



@using (Html.BeginForm())
{
    <p>
        Nhập tên sách:
        @Html.TextBox("SearchString")
        <input type="submit" value="Tìm" />
    </p>
}




<table class="table">
    @if (Session["email"] == null)
    {
        <style>
            td {
                border: 1px solid #dddddd;
            }

            .centered {
                text-align: center;
            }
        </style>
        <tr>
            @foreach (var item in Model)
            {
                <td class="centered">
                    <p>
                        @{
                            var path = "~/Content/Sach/" + item.AnhMinhHoa;
                        }
                        <img src="@Url.Content(path)" width="150px" />
                    </p>
                    <p>
                        Đánh giá: @Html.DisplayFor(modelItem => item.DanhGia)
                    </p>
                    <p>
                        Thể Loại: @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                    </p>
                    <p>
                        Tên Sách: @Html.DisplayFor(modelItem => item.TenSach)
                    </p>
                    <p>
                        Giá: @Html.DisplayFor(modelItem => item.GiaBan)
                    </p>
                    <p>
                        Còn hàng: @Html.DisplayFor(modelItem => item.SoLuong)
                    </p>
                    <p>
                        <input type="submit" value="Mua" />
                    </p>
                </td>
            }
        </tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhMinhHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhGia)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @{
                        var path = "~/Content/Sach/" + item.AnhMinhHoa;
                        <img src="@Url.Content(path)" width="150px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhGia)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaSach }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSach }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaSach })
                </td>
            </tr>
        }
    }

</table>
