<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nhà sách Phương Nam", "Index", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                @if (Session["email"] == null)
                {
                    @Html.ActionLink("Danh mục", "DanhSachSanPham", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Tài khoản", "Index", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Quản lý sách", "DanhSachSanPham", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Bảo trì danh mục", "Index", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Quản lý tài khoản", "Index", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Bảo trì đơn hàng", "Index", "Saches", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["email"] == null)
                    {
                        <li>
                            <a href="/Login/Login">Login</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href = "">Welcome @Session["email"] &nbsp;|&nbsp;</a>
                        </li>
                        <li>  <a href="/Login/Logout">Logout</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nhóm 9 - Thực tập chuyên ngành Hệ Thống Thông Tin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
